# Bufstream Iceberg quickstart

In [ ]:
from pyspark.sql import SparkSession

conf = (
    pyspark.SparkConf()
        .setAppName('Jupyter')
        .set("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")
        .set("spark.sql.catalog.bufstream-quickstart", "org.apache.iceberg.spark.SparkCatalog")
        .set("spark.sql.catalog.bufstream-quickstart.type", "rest")
        .set("spark.sql.catalog.bufstream-quickstart.uri", "http://iceberg-rest:8181")
)
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [3]:
%%sql
show tables in `bufstream`;

+-----------+-----------+-------------+
| namespace | tableName | isTemporary |
+-----------+-----------+-------------+
| bufstream |    orders |       False |
+-----------+-----------+-------------+

In [1]:
%%sql
WITH categories AS (
    SELECT 
        line_item.product.category.name AS category,
        SUM(line_item.quantity * line_item.unit_price_cents) / 100.0 AS revenue,
        COUNT(DISTINCT val.cart_id) AS carts,
        SUM(line_item.quantity) AS units_sold
    FROM `bufstream`.`orders`
    LATERAL VIEW EXPLODE(val.line_items) AS line_item
    GROUP BY category
),
totals AS (
    SELECT 
        'TOTAL' AS category,
        SUM(revenue) AS revenue,
        -- We can't just SUM() carts: one cart may have items from multiple categories.
        (SELECT(COUNT(DISTINCT val.cart_id)) AS carts FROM `bufstream`.`orders`) AS carts,
        SUM(units_sold) AS units_sold
    FROM categories
)
SELECT
    category,
    FORMAT_NUMBER(revenue, 2) as revenue,
    FORMAT_NUMBER(carts, 0) as carts,
    FORMAT_NUMBER(units_sold, 0) as units_sold
FROM (
    SELECT * FROM categories
    UNION ALL
    SELECT * FROM totals
)    
ORDER BY 
    CASE WHEN category = 'TOTAL' THEN 1 ELSE 0 END,
    category ASC;

25/11/04 19:41:26 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---------------------------+-----------+-------+------------+
|                  category |   revenue | carts | units_sold |
+---------------------------+-----------+-------+------------+
|        Books & Stationery |  8,027.96 |    65 |        304 |
| Electronics & Accessories | 10,613.54 |    64 |        346 |
|             Home & Garden |  9,403.21 |    63 |        279 |
|          Kitchen & Dining |  9,361.67 |    54 |        233 |
|             Personal Care |  4,317.27 |    44 |        173 |
|         Sports & Outdoors | 12,797.61 |    67 |        339 |
|                     TOTAL | 54,521.26 |   100 |      1,674 |
+---------------------------+-----------+-------+------------+